@use '../customs' as *;

.bloque-2-section {
    padding: 5rem 0 5rem 0;

    @include media-breakpoint-up(md) {
        height: 95vh;
        padding: 6rem 0 0 0;
    } 

    .container {
        background-color: $beige;
    }

    .gracias {
        margin-top: 6rem;

        @include media-breakpoint-up(md) {
            margin-top: 0rem;

            p {
                margin-bottom: 5rem;
            }
        } 

        @include media-breakpoint-up(lg) {

            p {
                margin-bottom: 3.5rem;
            }
        }
    }

    i {
        color: #fff;
        font-size: 2.5rem;
        line-height: 1.5rem;
    }

    h4 {
        margin: 2rem 0 2rem 0;
    }

    P {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }
}