@use '../customs' as *;

.bloque-2-section {
    margin-top: 5rem;
    padding: 4rem 0 4rem 0;
    background-color: $ligth-green;


    @include media-breakpoint-up(md) {
        height: 60vh;
        padding: 4rem 0 0 0;
    } 

    .gracias {
        margin-top: 6rem;

        @include media-breakpoint-up(md) {
            margin-top: 0rem;

            p {
                margin: 5rem 0 5rem 3rem;
            }
        } 

        @include media-breakpoint-up(lg) {

            p {
                margin-bottom: 3.5rem;
            }
        }
    }

    i {
        color: #fff;
        font-size: 2.5rem;
        line-height: 1.5rem;
    }

    h4 {
        margin: 2rem 0 2rem 0;
    }

    P {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }

    .datos {
        display: none;
    }
}