@use '../customs' as *;

.contact-section {
    background-color: $very-ligth-green;

    @include media-breakpoint-up(md) {
            
        p {
            font-size: 1.25rem;
        }
    }

    .row {
        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
        } 

        .phone {
            margin-bottom: 1rem;
        }
    
        .mail {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            
            a {
                color: $black;
            }

            i {
                padding-top: 0.25rem;
            }

            @include media-breakpoint-up(md) {
                padding-left: 1rem;
            } 
        }

        .insta {

            a {
                text-decoration: none;
                color: $black;
            }

            @include media-breakpoint-up(md) {
                padding-left: 2rem;
            } 

            @include media-breakpoint-up(lg) {
                padding-left: 0;
            } 
        }
    
        i {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }
    }

}