@use '../customs' as *; 
@use '../config/mixins' as *;

.bloque-1-section {
    padding: 5rem 0 5rem 0;

    @include media-breakpoint-up(md) {
        height: 95vh;
        padding: 8rem 0 0 0;
    } 

    .asistencia {
        margin-top: 6rem;

        @include media-breakpoint-up(md) {
            margin-top: 0rem;

            p {
                margin-bottom: 5rem;
            }
        } 

        @include media-breakpoint-up(lg) {

            p {
                margin-bottom: 3.5rem;
            }
        }
    }

    i {
        color: $beige;
        font-size: 3.5rem;
        line-height: 1.5rem;
    }

    h4 {
        margin: 1.5rem 0 1rem 0;
    }

    P {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }
}