@use '../customs' as *; 
@use '../config/mixins' as *;


.port-section {
    position: relative;
    height: 100vh;
    font-family: 'Satisfy', cursive;
    background-image: url("/images/greeting-card.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .container {
        @include absCenter;
    }

    h1 {
        font-size: 3.5rem;
        color: $dark-green;
        position: absolute;
        top: 50%;
        left: 50%;      //chequear
        
    }
}