@use '../customs' as *;

.btn {
    background-color: $beige;
    border: none;
    width: 90%;
    height: 3rem;

    a {
        color: $gray-100;
        font-weight: 400;
    }

    /*span {
        .icon { 
            font-size: 1.25rem;
            color: #f8f9fa;
            margin-left: 1.25rem;
        }
    }*/  


    &:hover {
        background-color: $gray-100;
        transition: 0.35s ease-in-out;  
        border: 1.5px solid $beige;  

        a {
            color: $beige;
        }

        
        /*i {
            color: $beige;
        }*/
    }
}
