@use '../customs' as *;

.btn {
    background-color: $beige;
    border: none;
    width: 70%;
    height: 3rem;

    a {
        color: #fff;
        font-weight: 400;
    }

    @include media-breakpoint-up(md) {
        width: 80%;
    } 

    @include media-breakpoint-up(lg) {
        width: 70%;
    } 

    &:hover {
        background-color: #fff;
        transition: 0.35s ease-in-out;  
        border: 1.5px solid $beige;  

        a {
            color: $beige;
        }
    }

    &--white {
        background-color: #fff;
        border: 1px solid $ligth-green;
        width: 50%;
        height: 3rem;

        a {
            color: $ligth-green;
            font-weight: 600;
        }
    
        @include media-breakpoint-up(md) {
            width: 80%;
        } 
    
        @include media-breakpoint-up(lg) {
            width: 70%;
        }

        &:hover {
            background-color: $ligth-green;
            transition: 0.35s ease-in-out;  
            border: 1px solid #fff;  
    
            a {
                color: #fff;
            }
        }
    }
}
